form {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    border: 2px solid #1d1c1c;
    padding: 10px;
    display: block;
    border-radius: 10px;
}

input[type = 'submit']{
    cursor: pointer;
    background-color: #174bac;
    color: white;
    border-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

input:focus {
    outline: none;
    border: 2px solid #3a7bf4;
    transition: all 0.5s;
}