* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Oswald:wght@300;400&family=Poppins&family=Roboto+Condensed:wght@300&family=Ubuntu&display=swap');