body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "react-alice-carousel/lib/alice-carousel.css";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alice-carousel__next-btn{
  background: white;
  width: 50px;
  border: 2px solid blue;
  position: absolute;
  right: 50px;
  top: 150px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alice-carousel__prev-btn{
  background: white;
  width: 50px;
  border: 2px solid blue;
  position: absolute;
  left: 50px;
  top: 150px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}