*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    align-items: center;
    border-bottom: 1.5px solid rgb(227, 222, 222);
}

header div{
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

header div img {
    height: 100%;
    width: 100px;
}

header div:nth-child(1){
    justify-content: flex-start;
}

/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}


/* CSS */
.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 16px;
    padding: 10px 28px;
  }
}

.heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 70px;
    text-align: center;

}

.heading h1 {
    font-size: 40px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.heading p:nth-child(2){
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0000008d;
    font-weight: 500;
}

.heading p{
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.heading img {
    width: 180px;
    margin-top: -25px;
}

section {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
    padding: 70px;
    gap: 20px;
    width: 100%;
    height: 600px;
}

section div{
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section>div{
    width: 50%;
    height: 100%;
}

section div:nth-child(1){
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

section div:nth-child(1) div{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section div:nth-child(1) div:nth-child(1){
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #006eff;
    color: white;
    padding: 20px 10px;
    text-align: center;
}

span{
    color: #ffdb66;
}

section p{
    font-size: 10px;
    font-weight: 600;
}

.average {
   background-color: rgb(111, 189, 205);
   width: 48.46%;
}

.high {
    background-color:  rgb(111, 205, 158);
    width: 48.50%;
}

.news-box{
    background-color:  rgb(110, 113, 204);
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}

.news-box img {
    width: 100%;
    border-radius: 30px;
}

.news-box h1{
    margin: 35px 0px;
}

.button-22 {
  align-items: center;
  appearance: button;
  background-color: rgb(110, 113, 204);
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 13px;
  line-height: 1.15;
  margin-bottom: 20px;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #006AE8;
}

.button-22:hover {
    background-color: rgb(112, 114, 163);
}

.adduser {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.adduser h1, .member_heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  filter: drop-shadow(5px 15px 5px black);
  color: rgb(15, 182, 60);
  margin-bottom: 30px;
}

.member_heading{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #803a00;
  margin: 20px 0px;
}

.adduser form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 30%;
}

.adduser form input{
   border: none;
   border-bottom: 2px solid #006aff;
   width: 100%;
   font-size: 17px;
   font-weight: 600;
   margin-top: 20px;
}

.adduser form input:focus{
  outline: none;
}
 
.btn {
  color: #fff;
  padding: 15px 25px;
  background-color: #38D2D2;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}


/* Member Cart Styles */

#parent {
  width: 1130px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 15px;
  text-align: center;
  padding-left: 2%;
  margin-top: 3%;
  color: rgb(13, 21, 48);
}

#parent > div {
  width: 250px;
  height: 320px;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#parent > div > div {
  width: 100%;
  height: 65%;  
}

img {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem 1.5rem 0% 0%; 
  object-fit: cover;
}

p + div > img {
  width:  20%;
  height: 100%;
  object-fit: fill;
  border-radius: 0%;
}
#parent > div > p + div{
  width: 100%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  border-radius: 0% 0% 1.5rem 1.5rem;
}

#parent p, 
#parent h3 {
  margin: 5%;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  filter: drop-shadow(10px 10px 10px black);
}

