.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-direction: column;
}


/* font-family: 'Arimo', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Ubuntu', sans-serif; */

.wrapper h1{ 
    letter-spacing: 10px;
    font-family: 'Ubuntu', sans-serif;
}