<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Member</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <%- include("header.ejs")%>
    <div class="adduser">
        <h1>Add New Member</h1>
        <form action="\team" method="post" >
            <input type="text" name="img" placeholder="Enter Member's Image" required><br>
            <input type="text" name="name" placeholder="Enter Full Name" required><br>
            <input type="text" name="designation" placeholder="Enter Designation" required><br>
            <input type="text" name="ex" placeholder="Enter Ex Potision"><br>
            <button type="submit" class="btn">ADD</button>
        </form>
    </div>

</body>
</html>