<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Member</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <%- include("header.ejs")%>
    <div id="parent">
        <h1>Team Members</h1>
            <% team.forEach((el) =>{ %>
                
                <div style="background-image: url('<%= el.img %>'); background-size: 100% 100%;">
                    <h3 style="margin-top: 90%;"><%= el.name %></h3>
                    <p><>%= el.designation %</p>
                    <div> Ex- <img src="<%= el.ex %>" alt="logo"></div>
                </div>
            <% }) %>
    </div>
</body>
</html>