<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <header>
        <div>
            <img src="https://www.masaischool.com/img/navbar/logo.svg" alt="logo">
        </div>
        <div>
            <a href="/team/home"><button class="button-73">Home</button></a>
            <a href="/team/members"><button class="button-33">All Team Members</button></a>
            <a href="/team/create"><button class="button-62">Add New Member</button></a>
        </div>
    </header>
</body>
</html>