<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masai</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <%- include("header.ejs")%>
    <div class="heading">
        <h1>Driven by Outcomes, <br> Fuelled by Ambitions.</h1>
        <p>Launch your dream career</p>
        <p>at 0 upfront fee.</p>
        <img src="https://www.masaischool.com/img/homepage/scribble.png" alt="line">
    </div>

    <section>

        <div>
            <div>
                
                <h1>
                    <img src="https://www.masaischool.com/img/homepage/sunshine.png" alt="lines" style="width: 38px; position: relative; left: 18px;">
                    <span>6000+</span> Students Currently Enrolled <br><span>91%</span> Placement Rate*
                </h1>
                <img src="https://www.masaischool.com/img/homepage/underline.svg" alt="underlines">

                <p>*for students who have graduated from Masai School and are Masai accredited</p>
            </div>

            <div class="average">
                <h1>
                    ₹6.9 LPA <br> Average <br> Salary
                </h1>
            </div>
            <div class="high">
                <h1>
                    ₹36 LPA <br> Highest <br> Salary
                </h1>
            </div>
        </div>

        <div class="news-box">
            <img src="https://www.masaischool.com/img/homepage/media.png" alt="news">
            <h1>We in The News</h1>
            <button class="button-22">KNOW MORE</button>
        </div>

    </section>
</body>
</html>